body {
    background: #952D32;
    min-width: 1366px;
    width: 100vw;
    min-height: 768px;
    height: 100vh;
    margin: 0;

}

div#bottom {
    position: absolute;
    min-width: 1366px;
    width: 100%;
    min-height: 768px;
    height: 100%;
    overflow: hidden;
}

div#container {
    position: relative;
    width: 100%;
    height: 100%;
}

div#div_ellipse1 {
    z-index: 1;
    width: 37.6%;
    height: 56.2%;
    position: absolute;
    top:-34.1%;
    left: 9.48%;
}

div#div_ellipse2 {
    z-index: 1;
    width: 32.08%;
    height: 51.12%;
    position: absolute;
    top:-5.925%;
    left: 58.02%;
}

div#div_ellipse3 {
    z-index: 1;
    width: 80.83%;
    height: 128.80%;
    position: absolute;
    top: 37.69%;
    left: 45.36%;
}

div#div_ellipse4 {
    z-index: 1;
    width: 61.77%;
    height: 92.5%;
    position: absolute;
    top: 40.09%;
    left: -30%;
}

.svg_ellipse {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 28px #681117);
}

ellipse.background {
    fill: #99181E;
}

div#div_grid {
    width: 56.67%;
    height: 76.20%;
    position: absolute;
    left: 33.96%;
    top: 11.9%;
}

div#div_grid_bg {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}

svg#svg_grid_bg {
    width: 100%;
    height: 100%;
    z-index: 2;
}

rect#grid_bg {
    width: 100%;
    height: 100%;
    z-index: 2;
    fill: #5D6C7A;
}

div#div_grid_img {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#div_grid_border {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

svg#svg_grid_border {
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: visible;
    filter: drop-shadow(0 0 11px rgba(9, 3, 28, 0.95));
}

rect#grid_border {
    fill: transparent;
    stroke: #12192C;
    stroke-width: 17pt;
}

div#div_line {
    z-index: 3;
    width: 19.53%;
    height: 0.3em;
    position: absolute;
    left: 6.67%;
    top: 50%;
}

svg#svg_line {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: visible;
    filter: drop-shadow(0 0 11px rgba(229, 229, 229, 0.95));
}

line {
    stroke: #D7D7D8;
    stroke-width: 0.2em;
}

div#div_you {
    width: 7.8125%;
    top: 28%;
}

div#div_enemy {
    width: 12.265%;
    top: 60.3%;
}

.div_player_text {
    z-index: 3;
    position: absolute;
    left: 8.9%;
    height: 13.8%;
    display: table;
}

.player_text {
    color: #D7D7D8;
    font-family: SF-Compact-Bold;
    font-size: 2.7em;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

div#div_you_circle {
    width: 2.344%;
    height: 4.1667%;
    position: absolute;
    left: 19.5%;
    top: 33%;
    z-index: 3;
}

div#div_enemy_circle {
    width: 2.344%;
    height: 4.1667%;
    position: absolute;
    left: 19.5%;
    top: 65.4%;
    z-index: 3;
}

.svg_circle {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: visible;
}

circle#you_circle {
    fill: #0000FF;
}

circle#enemy_circle {
    fill: #FF0000;
}

div#div_player_turn_rect1 {
    top: 28.2%;
    left: 5.9%;
    position: absolute;
    z-index: 3;
    width: 19.53%;
    height: 13.8%;
    overflow: visible;
}

div#div_player_turn_rect2 {
    top: 60.5%;
    left: 5.9%;
    position: absolute;
    z-index: 3;
    width: 19.53%;
    height: 13.8%;
    overflow: visible;
}

.svg_player_turn_rect {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: visible;
}

.player_turn_rect {
    stroke: #D7D7D8;
    fill: transparent;
    stroke-width: 5pt;
    z-index: 3;
}

div#div_time_rect {
    width: 17.34%;
    height: 11.3%;
    position: absolute;
    z-index: 3;
    left: 3%;
    top: 5%;
}

svg#svg_time_rect {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: visible;
    filter: drop-shadow(0 0 22px rgba(9, 3, 28, 0.82));
}

rect#time_rect {
    fill: #0B1129;
}


div#div_time {
    width: 17.34%;
    height: 11.3%;
    position: absolute;
    z-index: 3;
    left: 3%;
    top: 5%;
    display: table;
    text-align: center;
}

p#time {
    color: #D7D7D8;
    display: table-cell;
    vertical-align: middle;
    font-family: SF-Compact-Heavy;
    font-size: 3em;
    padding-bottom: 2%;
}

svg.chip {
    width: 12%;
    height: 12%;
    position: absolute;
    z-index: 2;
}

svg.enemy {
    fill:#FF0000;
    stroke:#FF0000;
    stroke-width: 7px
}

svg.player {
    fill:#0000FF;
    stroke:#0000FF;
    stroke-width: 7px
}

svg.row-0 {
    top: 15.37%;
}

svg.row-1 {
    top: 26.9%;
}

svg.row-2 {
    top: 38.43%;
}

svg.row-3 {
    top: 49.96%;
}

svg.row-4 {
    top: 61.49%;
}

svg.row-5 {
    top: 73.02%;
}

svg.col-0 {
    left: 33.26%;
}

svg.col-1 {
    left: 40.96%;
}

svg.col-2 {
    left: 48.66%;
}

svg.col-3 {
    left: 56.36%;
}

svg.col-4 {
    left: 64.06%;
}

svg.col-5 {
    left: 71.76%;
}

svg.col-6 {
    left: 79.46%;
}

div.click_div_col {
    width: 7%;
    height: 71%;
    top: 14.37%;
    z-index: 7;
    position: absolute;
}

div.div_col-0 {
    left: 35.7%;
}

div.div_col-1 {
    left: 43.4%;
}

div.div_col-2 {
    left: 51.1%;
}

div.div_col-3 {
    left: 58.8%;
}

div.div_col-4 {
    left: 66.5%;
}

div.div_col-5 {
    left: 74.2%;
}

div.div_col-6 {
    left: 81.9%;
}

div#pop_up_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.66);
    z-index: 7;
    display: none;
}

div#pop_up {
    height: 40%;
    width: 50%;
    position: absolute;
    z-index: 8;
    background-image: linear-gradient(to bottom right, rgb(41, 201, 201), teal);
    left: 25%;
    top: 25%;
    display: table;
    text-align: center;
    border-radius: 26px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.75));
}

p.pop_up_text {
    font-family: SF-Compact-Bold;
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    color: white;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.48));
}

img#loading {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 66%;
    left: 48%;
    filter: drop-shadow(0 0 7px rgba(250, 230, 230, 0.3));
    display: none;
}

div#play_again_button {
    display: table;
    background-color: #12192C;
    border-radius: 20px;
    width: 28%;
    height: 20%;
    left: 35%;
    top: 68%;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
    font-family: SF-Compact-Heavy;
    position: absolute;
    font-size: 1.2em;
    z-index: 8;
    display: none;
}

div#play_again_button:hover{
    background-color: #3060BF;
}

p#play_again_text {
    font-size: 1em;
    display: table-cell;
    z-index: 9;
    vertical-align: middle;
}

div.click_div_col:active {
    background-color: rgba(0, 0, 0, 0.24);
}

@font-face {
    font-family: SF-Compact-Bold;
    src: url(../data/SF-Compact-Display-Bold.otf);
}

@font-face {
    font-family: SF-Compact-Light;
    src: url(../data/SF-Compact-Display-Light.otf);
}

@font-face {
    font-family: SF-Compact-Heavy;
    src: url(../data/SF-Compact-Display-Heavy.otf);
}
